@import url(https://fonts.googleapis.com/css?family=Poiret+One);

@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: "Lato", sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

body {
  background-color: #f5f5f5;
  background: var(--color-dark);
  height: 100vh;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.widget {
  display: flex;
  height: 350px;
  width: 750px;
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 20px;
  padding-bottom: 55px;
}

.widget .weatherIcon {
  flex: 1 100%;
  height: 45%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: rgb(247, 243, 226);
  font-family: weathericons;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 80px;
}

.widget .weatherInfo {
  flex: 0 0 70%;
  height: 40%;
  background: #080705;
  display: flex;
  align-items: center;
  color: white;
}
.widget .weatherInfo .temperature {
  flex: 0 0 40%;
  width: 100%;
  font-size: 75px;
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
}
.widget .weatherInfo .description {
  flex: 0 60%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.widget .weatherInfo .description .weatherCondition {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 100;
}
.widget .weatherInfo .description .place {
  font-size: 25px;
}
.widget .date {
  flex: 0 0 30%;
  height: 40%;
  background: #70c1b3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.widget .extra-temp {
  flex: 1 100%;
  padding: 5% 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #fafafa;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  font-size: 100px;
}

.widget .extra-temp p {
  font-size: 40px;
  font-weight: 600;
}

.temp-info-minmax,
.weather-extra-info,
.two-sided-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  align-items: center;
  color: #5da89b;
  height: 60px;
  background-color: rgb(247, 243, 226);
}

/* .temp-info-minmax,
.weather-extra-info, */
.two-sided-section:hover{
  transform: scale(1.2); 
}

.widget .extra-temp .extra-info-leftside {
  text-align: left;
  font-weight: 600;
  text-transform: capitalize;
  color: #080705;
  font-size: 15px;
}

/* input search button style  */

.search {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.searchTerm {
  width: 30%;
  border: 3px solid #00b4cc;
  border: none;
  padding: 16px;
  height: 25px;
  border-radius: 10px 0 0 10px;
  outline: none;
  font-size: 20px;
}

.searchTerm:focus {
  color: #1e0cde;
  font-size:larger;
}

.searchButton {
  width: 100px;
  height: 32px;
  border: none;
  background: #098797;
  text-align: center;
  color: #fff;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 20px;
  outline: none;
  font-size: 16px;
}

.searchButton:hover {
  background-color: #99fd34;
  font-weight: bold;
  color: #080705;
}

.wrap {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: -50px;
  margin-bottom: 50px;
}
